/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
} */
/* header{
    
} */


  /*
  body{
     margin: 0;
  background-color: #1F2663;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  min-height: 100vh; */






.img{
  height: 600px;
}

@media screen and (max-width:1500px){
  .img {
    height: auto;
  }
}



#h4i{
    position: absolute;
    top: 25%;
    left: 40%;
    transform: translate(-10%);
    letter-spacing: 2px;
    font-size: 20px;
}



#h1i{

    position: absolute;
    top: 30%;
    left: 39%;
    transform: translate(-10%);
    letter-spacing: 2px;
}

#h3i{
    position: absolute;
    top: 37%;
    left: 47%;
    transform: translate(-10%);
    letter-spacing: 2px;
}

 .inis{
    width: 1000vw;
    height: 1000vh;
    display: flex;
    align-items: center;
    justify-content: center;
      /* background: linear-gradient(to right,
      rgba(0, 0, 1, 0.5), rgba(0, 0, 0, 0.5)), url(https://static.wixstatic.com/media/128120_fcfaabeb3fc34557b76387be28cad101~mv2.jpg/v1/fill/w_809,h_447,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/128120_fcfaabeb3fc34557b76387be28cad101~mv2.jpg); */
} 
.inis2{
    width:350px;
    height:200px;
    margin-left: 35%;
}

#bio{
    color: rgb(0, 0, 0);
    text-align: center;
}

.carousel-inner-item{
    display: flex;
    justify-content: center;
    width: 70%;
}
.descripcion-vm {
    color: white;
    font-family: "Roboto";
    padding: 15px;
    font-size: 16px;
    background-color: #28C162;
  
  }
  
  .img-table {
    width: 300px;
    margin: 0px;
    text-align: center;
  }
  
  .img-table:hover {
    transform: scale(1.1);
    transition: all 600ms ease-in-out;
    opacity: initial;
  }
  
  
  .contenedor-text-ve{
    background-color: #1D6611;
  }
  
  #contenedorIntro{
    display: grid;
    place-items: center;
  }

  .titulo-ve {
    color: white;
    font-family: "Roboto";
    background-color: #1D6611;
    text-shadow: 1px 4px #000;
    padding: 9px;
  }
  
  #titulo-ve {
    text-align: center;
    font-family: "Roboto";
    padding: 30px;
    font-weight: bold;
    font-size: 40px;
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 4px #000;
  }
  
  .descripcion-ve {
    color: white;
    font-family: "Roboto";
    padding: 15px;
    font-size: 16px;
    background-color: #1D6611;
  
  }
  
  .contenedor-text-vd{
    background-color: #006BCA;
  }
  
  
.colaboradores{
  display: flex;
  width: 600;
  height: 430;
}

.colaboradores img{
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5 ease;
}

.colaboradores img:hover{
  cursor: crosshair;
  transform: scale(1.1);

  width: 300;
  opacity: 1;
  filter: contrast(120%);
  transition: all 600ms ease-in-out;
}




  /*
  footer{ color: #ffff;
  background: #1F2663;
  padding: 4em 0; 
  text-align:center;
  margin-top: auto; */

  /* width: 100%;
  background-color:  #1F2663;
  color: white; 
  }*/
  .achieve_section .achieve_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .achieve_section .achieve_container .box {
    width: 275px;
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin: 45px 20px 0 20px;
    padding: 45px 35px 15px 35px;
    border: 1px solid #FDCC00;
    background-color: #FDCC00;
  }
  
  .achieve_section .achieve_container .box .img-box {
    width: 120px;
  }
  
  .achieve_section .achieve_container .box .img-box img {
    width: 100%;
  }
  
  .achieve_section .achieve_container .detail-box {
    margin-top: 25px;
    text-transform: uppercase;
  }
  
  .achieve_section .achieve_container .detail-box h2 {
    font-weight: bold;
  }
  
  .achieve_section .achieve_container .detail-box h6 {
    font-weight: bold;
    font-size: 18px;
  }
  



  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

footer{
    width: 100%;
    background-color: #1F2663;
    color: white;   
    
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;
    
}

.colum2 h1{
    font-size: 22px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 75px;
    height: 40px;
}

.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer{
    width: 100%;  
    background: #101010;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

.copyright{
    color: #C7C7C7;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #C7C7C7;
}


@media screen and (max-width: 1100px){
    
    .container-body{
        flex-wrap: wrap;
    }
    
    .colum1{
        max-width: 100%;
    }
    
    .colum2,
    .colum3{
        margin-top: 40px;
    }
}





.heading_container{
  background-color: #7D0A42;
  color: white;
}